<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <getChromeData>
        <processor type="Sitecore.XA.Foundation.Editing.Pipelines.GetChromeData.DisableEditingOnInjectedRenderings, Sitecore.XA.Foundation.Editing" set:type="Sitecore.Support.XA.Foundation.Editing.Pipelines.GetChromeData.DisableEditingOnInjectedRenderings, Sitecore.Support.6899"  />
        <processor type="Sitecore.XA.Foundation.Mvc.Pipelines.GetChromeData.DisableHiddenPlaceholders, Sitecore.XA.Foundation.Mvc" set:type="Sitecore.Support.XA.Foundation.Mvc.Pipelines.GetChromeData.DisableHiddenPlaceholders, Sitecore.Support.6899" />
      </getChromeData>
    </pipelines>
  </sitecore>
</configuration>